<div class="header w100 grid-x align-middle align-justify">
    <div class="title grid-y align-top">
        <h6>About Mario Rover</h6>
    </div>
</div>
<div class="body w100 grid-y">
    <p class="description">
        Mario Rover Panel Created in 2018 By Hossein Akbari from Diata Team .<br>
        If you have any questions or problems from this panel , please refer to <a href="http://diataco.com" target="_blank">Diata</a> website , or
        send email to hoa021@icloud.com <br>
        Thanks !
    </p>
</div>