<div class="header w100 grid-x align-middle align-justify">
    <div class="title grid-y align-top">
        <h6>Dashboard</h6>
    </div>
</div>
<div class="body w100 grid-y">
    <div class="box-wrap w100 grid-x">
        <div class="box-news messages grid-x-no">
            <div class="box-icon grid align-center-middle">
                <i class="fas fa-envelope"></i>
            </div>
            <div class="box-info grid-y align-justify">
                <span><%= information.numOfMesg %></span>
                <p>Messages</p>
            </div>
        </div>
    </div>
</div>